.intro__list {
    margin: 33px 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
}
@media screen and (max-width: 570px) {
    .intro__list {
        margin-top: 34px;
    }
}