.cover {
    margin: 92px 48px 0;
    min-height: 740px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {
    .cover {
        margin: 92px 0 0;
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 90px 0 0;
        min-height: 480px;
    }
}
@media (max-width: 570px) {
    .cover {
        min-height: 200px;
        margin-top: 66px;
    }
}